<div ng-show="friends==2">
	<div id="friendBasicData"><br/>
		<img src="{{musicCtrl.friendProfile.image}}" width="45%"/><br />
		<label>{{musicCtrl.friendProfile.userName}}</label>	<br/>		
		<label>Location: {{musicCtrl.provincesArray[musicCtrl.friendProfile.provinceID].name}}</label><br />
		<label>Email: {{musicCtrl.friendProfile.email}}</label><br />
		<a href="#" ng-if="addFriendIcon==1" id="addFriend" ng-click="musicCtrl.addFriend(musicCtrl.friendProfile.userID)" title="Add as friend"><img src="img/addFriend.png" /></a>	
	</div>
	
	<div id="friendItemsDiv">
		<p id="friendItemsMessage"></p>
		
		<div id="friendItems" ng-repeat="item in musicCtrl.friendItemsArray">
			<img src="{{item.image}}" width="70%" /><br />
			<b>Artist:</b> {{item.getArtist()}} <br />
			<b>Title:</b> {{item.getTitle()}} <br />
			<b>Genre:</b> {{musicCtrl.genresArray[item.getGenreID()].name}} <br/>
			<b>Item type:</b> {{item.getItemType()}}<br />
			<b>Release year:</b> {{item.getReleaseYear()}}<br/>		
			<b>Condition:</b> {{musicCtrl.conditionsArray[item.getConditionID()].name}}<br />
			<a href="#" title="Bid up" ng-if="item.bidID!=null"><img src="img/bid.png" width="31px"/></a>
			<a href="#" title="Start trade" ng-if="item.bidID==null" ng-click="musicCtrl.loadStartTradeForm($index)"><img src="img/trade.png" /></a><br />			
		</div>		
	</div>
</div>	
