<form name="homeSearchForm" ng-submit="homeSearchForm.$valid && musicCtrl.searchItems()" novalidate>
	<h2>Some user items</h2><br/>
	You can search items by:<br/>
	Item type:
	<select id="itemType" ng-model="musicCtrl.item.itemType" ng-change="musicCtrl.searchItems()">
		<option value="">Item type</option>
		<option ng-repeat="itemType in musicCtrl.itemTypesArray" value="{{itemType}}">{{itemType}}<option>
	</select>
		
	Genre:
	<select ng-model="musicCtrl.item.genreID" ng-change="musicCtrl.searchItems()">
		<option value="" selected>Genre</option>
		<option ng-repeat="genres in musicCtrl.genresArray" value="{{genres.genreID}}">{{genres.name}}</option>
	</select>
	
	Or artist:
	<input type="text" id="artistToSearch" ng-model="musicCtrl.item.artist" value="" ng-change="musicCtrl.searchItems()"/>
	<br /><br /><br />
	
	<p id="searchMessage"></p>
	<div ng-repeat="itemHome in musicCtrl.itemsArrayHome">
		<img ng-src="{{itemHome.image}}" width="200px"/><br />
		{{itemHome.getArtist()}} - {{itemHome.getTitle()}}<br />
		{{itemHome.getReleaseYear()}}				
		<a href="#" id="contact{{$index}}" title="View more" ng-click="itemInformation =! itemInformation">View more</a>
		<a href="#" ng-if="itemHome.bidID!=null"><img src="img/bid.png" width="40px"/></a>
		<a href="#" ng-if="itemHome.bidID==null"><img src="img/trade.png"  /></a>			
		<br/><br />
		
		<div id="moreInformationDiv" ng-show="itemInformation">
			<img ng-src="{{itemHome.image}}" width="250px"/><br />
			<b>Artist:</b> {{itemHome.getArtist()}} <br />
			<b>Title:</b> {{itemHome.getTitle()}} <br />
			<b>Genre:</b> {{musicCtrl.genresArray[itemHome.getGenreID()].name}} <br/>
			<b>Item type:</b> {{itemHome.getItemType()}}<br />
			<b>Release year:</b> {{itemHome.getReleaseYear()}}<br/>		
			<b>Condition:</b> {{musicCtrl.conditionsArray[itemHome.getConditionID()].name}}<br />
			<b>User:</b> <a href="#">{{musicCtrl.usersArray[itemHome.getUserID()].userName}}</a><br />
			{{itemHome.getUserID()}}
			<button ng-click="itemInformation =! itemInformation">Close</button>			
		</div>		
	</div>
	
	
</form>
