
	<div ng-show="userProfile==1">
		<h3>Items</h3>	
		<nav>
			<a ng-click="items=1">Add new item</a> | <a ng-click="items=2">View items</a> <br />			
		</nav>			
		
		<div ng-show="items==1">
			<form name="addItemForm" ng-submit="musicCtrl.addItem()" novalidate >
				<label>Item type:</label>
				<select id="itemType" ng-model="musicCtrl.item.itemType" required>
					<option ng-repeat="itemType in musicCtrl.itemTypesArray" value="{{itemType}}">{{itemType}}<option>
				</select><br/>
				
				<label>Artist:</label>
				<input type="text" id="artist" ng-model="musicCtrl.item.artist" required /><br />
				
				<label>Title:</label>
				<input type="text" id="title" ng-model="musicCtrl.item.title" required /><br />
							
				<label>Release year:</label>
				<input type="text" id="releaseYear" ng-model="musicCtrl.item.releaseYear" required /><br />
				
				<label>Genre:</label>
				<select ng-model="musicCtrl.item.genreID" required>
					<option ng-repeat="genres in musicCtrl.genresArray" value="{{genres.genreID}}">{{genres.name}}</option>
				</select><br />
				
				<label>Condition:</label>
				<select ng-model="musicCtrl.item.conditionID"required>
					<option ng-repeat="conditions in musicCtrl.conditionsArray" value="{{conditions.conditionID}}">{{conditions.name}}</option>
				</select><br />
				
				<label>Image:</label>
				<input type="file" id="itemImage" ng-model="musicCtrl.item.image" required /><br/>
				
				<input type="submit" value="Add item" />
			</form>
		</div>	
		
		<div ng-show="items==2" id="userItemsTable">			
			<table border=1>
				<tr><th>Item type</th><th>Title</th><th>Artist</th><th>Release year</th><th>Genre</th><th>Conditions</th><th>Image</th><th>Modify</th><th>Delete</th></tr>
				<tr ng-repeat="item in musicCtrl.itemsArray">					
					<td>{{item.getItemType()}}</td>										
					<td>{{item.getTitle()}}</td>					
					<td>{{item.getArtist()}}</td>						
					<td>{{item.getReleaseYear()}}</td>					
					<td>{{musicCtrl.genresArray[item.getGenreID()].name}}</td>						
					<td>{{musicCtrl.conditionsArray[item.getConditionID()].name}}</td>						
						
					<td><img ng-src="{{item.image}}" width="100px"/></td>
						
					<td><a ng-click="musicCtrl.createModItemForm(item)" href="#" id="modifyItem{{$index}}"><img src="img/modify.png" width="30" /></a></td>
					<td><a ng-click="musicCtrl.deleteItem(item.itemID)" href="#" id="deleteItem{{$index}}"><img src="img/delete.png" width="30" /></a></td>
				</tr>
			</table>			
		</div>
			
	</div>
