
	<div ng-show="userProfile==1">
		<h3>Items</h3>	
		<nav>
			<a ng-click="items=1">Add new item</a> | <a ng-click="items=2">View items</a> <br /><br />			
		</nav>			
		
		<div ng-show="items==1">
			<form name="addItemForm" ng-submit="musicCtrl.addItem()" novalidate >
				<label>Item type:</label>
				<select id="itemType" ng-model="musicCtrl.item.itemType" required>
					<option ng-repeat="itemType in musicCtrl.itemTypesArray" value="{{itemType}}">{{itemType}}<option>
				</select><br/>
				
				<label>Artist:</label>
				<input type="text" id="artist" ng-model="musicCtrl.item.artist" required /><br />
				
				<label>Title:</label>
				<input type="text" id="title" ng-model="musicCtrl.item.title" required /><br />
							
				<label>Release year:</label>
				<input type="text" id="releaseYear" ng-model="musicCtrl.item.releaseYear" required /><br />
				
				<label>Genre:</label>
				<select ng-model="musicCtrl.item.genreID" required>
					<option ng-repeat="genres in musicCtrl.genresArray" value="{{genres.genreID}}">{{genres.name}}</option>
				</select><br />
				
				<label>Condition:</label>
				<select ng-model="musicCtrl.item.conditionID"required>
					<option ng-repeat="conditions in musicCtrl.conditionsArray" value="{{conditions.conditionID}}">{{conditions.name}}</option>
				</select><br />
				
				<label>Image:</label>
				<input type="file" id="itemImage" ng-model="musicCtrl.item.image" required /><br/>
				
				<input type="submit" value="Add item" />
			</form>
		</div>
		
		<div ng-show="items==2" id="itemsDiv">
			<div ng-repeat="item in musicCtrl.itemsArray" id="friendItems">
				<img ng-src="{{item.image}}" width="100px"/><br/>
				<b>Item type:</b> {{item.getItemType()}}<br />
				<b>Title: </b>{{item.getTitle()}}		<br />
				<b>Artist: </b>{{item.getArtist()}}<br />
				<b>Release year: </b>{{item.getReleaseYear()}}<br />
				<b>Genre: </b>{{musicCtrl.genresArray[item.getGenreID()].name}}<br />
				<b>Condition: </b>{{musicCtrl.conditionsArray[item.getConditionID()].name}}<br/>			
				
				<a ng-click="musicCtrl.createModItemForm(item)" title="Modify item" href="#" id="modifyItem{{$index}}"><img src="img/modify.png" width="25" /></a>
				<a ng-click="musicCtrl.deleteItem(item.itemID)" title="Delete item" href="#" id="deleteItem{{$index}}"><img src="img/delete.png" width="25" /></a>
			</div>			
		</div>
			
	</div>
