body{
	background-color: #04B4AE;/*turq*/
}

#warningAlert{
	position: relative;
	float: right;
	right: 24%;
}


#warningsDiv{
	position: absolute;
	top: 7%;
	float: right;
	left: 55%;
	border: 1px solid black;
	padding: 1%;
	color: white;
	background-color:#626262; /*grey oscuro*/
}

#moreInformationDiv{
	position: fixed;
	left: 30%;
	top: 35%;
	box-shadow: 10px 9px 24px -6px black;
	padding: 2%;
	text-align: center;
	background-color: white;
}

#blackDiv{
	background-color: black;
	opacity: 0.5%;
	width: 100%;
}

#userMenuBar{
	position: relative;
	padding: 1%;
	text-align: right;
	background-color: #626262;
}

#profileImg{
	hidden: none;
	float: right;
	background-image: url("../img/profile.png");
	height: 20px;
	width: 20px;
	margin-left: .3%;
	margin-right: .3%;
}

#profileImg:hover{
	background-image: url("../img/profileV.png");
}

#messageImg{
	hidden: none;
	float: right;
	background-image: url("../img/messages.png");
	height: 20px;
	width: 20px;
	margin-left: .3%;
	margin-right: .3%;
}

#messageImg:hover{
	background-image: url("../img/messagesV.png");
}

#userIcon{
	margin-right: 2%;
}

#logOutImg{
	hidden: none;
	float: right;
	background-image: url("../img/logout.png");
	height: 20px;
	width: 20px;
	margin-left: .3%;
	margin-right: .3%;
}

#logOutImg:hover{
	background-image: url("../img/logoutV.png");
}

#homeImg{
	hidden: none;
	float: right;
	background-image: url("../img/home.png");
	height: 20px;
	width: 20px;
	margin-left: .3%;
	margin-right: .3%;
}

#homeImg:hover{
	background-image: url("../img/homeV.png");
}

li{	
	list-style:none;
}

.linksFloat{
	float:right;	
}

.linksFloatLeft{
	float:left;	
	right: 55%;
}
    
.dropdown-menu{
	background-color: #C0C0C0; /*grey*/
}

header{
	border: 1px solid black;
	top: 0%;
	text-align: center;
}

#addFriend{
	position: relative;
	left: 5%;
}

#friendBasicData{
	border: 1px solid black;
	position: fixed;
	float: left;
	width: 15%;
	text-align: center;
	left: 1%;
	padding: .5%;
	background-color: white; 
}

#friendsDiv{
	padding: 2%;
	position: relative;
	background-color: white; 
	border: 1px solid #626262;
	width: 40%;
	left: 1%;
	margin-bottom: 1%;
}

#friendItems{
	float: left;
	padding: 1%;
	margin-bottom: 3%;
	border: 1px solid #626262;
	width: 25%;	
	text-align: center;
	margin-right: 5%;	
	background-color: white;
}

#homeItems{
	float: left;
	padding: 1%;
	margin-bottom: 3%;
	border: 1px solid #626262;
	height: 300px;
	width: 28%;		
	text-align: center;
	margin-right: 3%;
	background-color: white;	
}

#itemsDiv{
	position: relative;
	left: 3%;
	width: 75%;	
	
}

#friendItemsDiv{
	position: relative;
	left: 25%;
	width: 75%;
}

#friendItemsMessage{
	position: relative;
	left: 25%;	
}

#searchBox{
	position: relative;
	left: 3%;
	width: 67.5%;
	background-color: #C0C0C0;
	padding: 2%;
	margin-top: 2%;
}

.linkStyle{
	text-decoration: none;
	padding: 1%;
	background-color: #626262;
	position: relative;
	left: 83%;
	top: -13px;	
	border: 1px solid #626262;
}

.linkStyle:hover{
	background-color:  #C0C0C0;
	border: 1px solid #626262;
	text-decoration: none;
}

#startTradeDiv{
	z-index:1;
	position: fixed;
	left: 30%;
	top: 35%;
	box-shadow: 10px 9px 24px -6px black;
	padding: 2%;
	text-align: center;
	background-color: white;
}

.ownItemDiv{
	float: left;
	padding: 1%;
	border: 1px solid #626262;
	width: 25%;	
	text-align: center;
	margin-right: 5%;	
	background-color: white;
}

